/* Font-Families */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Ubuntu', sans-serif; */



#title {
  color: #16161B;
  text-align: center;


}

#navbarNav {
  font-family: 'Montserrat', sans-serif;
  color: #16161B;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5% 10%;
  margin: 5% 15%;
}




.container-navbarlogo {
  padding: 10% 0%;
}

.nav-item {
  padding: 3% 5%;


}


.nav-link {
  color: #16161B;
  margin-left: 5%;
}


.container-title {
  padding: 2% 5%;

}

.title-row {

  text-align: left;
  margin: 5% 5%;
}

.title-col {
  padding: 0 0 10%;


}

.title-text {

}


.animation-col {
  background-color: #16161B;
  border-radius: 1%;
  padding: 5% 5%;
  margin-bottom: 10%;


}

.animation-box {
  width: 40vw;
  height: 40vh;
  padding: 5% 5%;

}

.octopus-head {

  width: 10vw;
  height: 20vh;

  border-radius: 100%;
  background: radial-gradient(ellipse at center, rgb(198, 85, 2) 50%, rgb(0, 0, 0) 100%);
  animation: head 20s infinite;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
}




@media (max-width: 1000px) {


  .container-title {
    padding: 1% 0%;
  }

  .title-text {
    font-size: 3rem;
  }

  .title-h3 {
    font-size: 1.5rem;
  }

  .title-p {
    font-size: 0.9rem;
  }


}


body {
  background-color: #FFF9E8;
  font-family: 'Ubuntu', sans-serif;

}

h1 {
  font-family: 'Sofia', cursive;
  color: #16161B;
  font-size: 5rem;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #16161B;
  font-weight: normal;
  font-size: 3rem;

}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #16161B;
  font-weight: 400;
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-weight: 300;
  font-size: 1.1rem;

}




/* .triangle-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 150px solid #00072C;
}

.triangle-right {

  display: inline-block;
  bottom: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-right: 150px solid rgb(198, 85, 2);
  border-bottom: 75px solid transparent;
  margin-left: 40%;

} */



#features {
  align-items: center;
  text-align: center;
  padding: 10% 0;

}


.container-features {
  background-color: #2B2B2B;
  padding: 5% 10%;
  margin: 5% 10%;
}

.responsive-img {
  width: 20vw;
  height: 40vw;
}
